* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --white: 255, 255, 255;
    --blue-start: 59, 155, 155;
    --blue-end: 0, 153, 153;
    --light-blue: 80, 206, 206;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: rgb(var(--white));
}

a {
    text-decoration: none;
}

.invisible {
    display: none !important;
}

html, body, section {
    width: 100%;
    height: 100%;
}

section {
    display: flex;
    justify-content: center;
}

#home-page {
    font-size: 1em;
    background-image: linear-gradient(to bottom, rgb(var(--blue-start)), rgb(var(--blue-end)));
}

.scan-button-container {
    margin-top: 30%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.scan-button {
    width: 5em;
    height: 5em;
    font-size: 2em;
    background-color: rgb(var(--light-blue));
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ripple {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5em;
    height: 5em;
    z-index: -1;
}

.ripple:before, .ripple:after {
    content: "";
    animation: ripple;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    width: 5em;
    height: 5em;
    border: 3px solid rgb(var(--white));
    display: block;
    position: absolute;
    border-radius: 50%;
}

.ripple:after {
    animation-delay: 1s;
}

@keyframes ripple {
    from {
        opacity: 0.5;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(3);
    }
}

.waves-container {
    width: 100%;
    height: 200px;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.wave {
    position: absolute;
    width: 1600px;
    height: 200px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0) translateX(-50%);
}

.wave:nth-of-type(2) {
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0) translateX(50%);
}

.wave path {
    fill: rgb(var(--light-blue));
    opacity: 0.7;
}

.type-2 .wave {
    transform: translateX(-60%);
}

.type-2 .wave:nth-of-type(2) {
    transform: translateX(40%);
}

.type-2 .wave path {
    fill: rgb(var(--light-blue));
    opacity: 0.7;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}

/* Scan page */
#scan-page {
    background-color: black;
    overflow: hidden;
}

#interactive {
    height: 100%;
    width: 100%;
}

.actions {
    position: absolute;
    bottom: 0;
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#flashlight {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 1px solid rgb(var(--white));
    padding: 5px;
}

.flashlight-off {
    fill: white;
}

.flashlight-on {
    fill: rgb(var(--blue-start));
    border: 1px solid rgb(var(--blue-start)) !important;
}

#flashlight path {
    pointer-events: none;
}

/* Details page */
#details-page {
    display: flex;
    /*background-image: linear-gradient(to bottom, rgb(var(--blue-start)), rgb(var(--blue-end)));*/
    flex-direction: column;
    height: auto;
    padding-bottom: 1em;
}

.nav-bar {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: rgb(var(--blue-end));
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    margin-bottom: 1em;
}

.nav-bar a {
    color: rgb(var(--white));
}

#details-page-content {

}

#tracks {
    display: grid;
    grid-gap: 1em;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;
    padding-top: 1em;
}

.album-title {
    font-size: 2em;
    color: rgb(var(--blue-end));
    text-align: center;
    width: 100%;
    display: inline-block;
}

.track {
    text-align: center;
}

.album {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    pointer-events: none;
}

.player-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
    position: relative;
}

.album span {
    background-color: rgb(var(--blue-end));
    padding: 0.5em;
    pointer-events: none;
    text-align: center;
    width: 90%;
    font-size: 1.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
}

.album-image {
    pointer-events: none;
    width: 100%;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.audio {
    display: none;
}

#player {
    float: left;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

}

#player-button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
    border-radius: 50%;
    border: 1px solid rgb(var(--white));
    width: 5em;
    height: 5em;
}

.play-button {
    background-image: url("../img/play.svg");
}

.stop-button {
    background-image: url("../img/stop.svg");
}

.error {
    font-size: 2em;
    color: rgb(var(--blue-end));
    text-align: center;
    width: 100%;
    display: inline-block;
}

.skeleton-title {
    width: 90%;
    max-width: 720px;
    height: 43px;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(var(--blue-end)) 57px, white 0);
    background-size: 25% 43px;
    background-position: 50% 50%;
    animation: grow 5s ease-out infinite normal;
}

.skeleton {
    width: 90%;
    max-width: 720px;
    height: 400px;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(var(--blue-end)) 57px, white 0),
    linear-gradient(#E2E2E2 100%, transparent 0);

    background-size: 100% 57px,
    100% 100%;

    background-position: 0 100%,
    0 0;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: grow 5s ease-out infinite normal;
}

@keyframes grow {
    0% {
        transform: scale(0.96);
    }
    25% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.96);
    }
    75% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.96);
    }
}